<div class="container">
  <div class="d-flex justify-content-center align-items-center row">
    <div class="card" style="width: 400px">
      <img height="auto" width="100%" src="https://cdn.macrumors.com/article-new/2017/10/iphone-x-silver.jpg"
        class="card-image-top" alt="Iphone X">
      <div class="card-body">
        <div class="card-title">IPhone X</div>
        <p class="card-text">Our vision has always been to create an iPhone that is entirely screen. One so immersive the device itself disappears
          into the experience. And so intelligent it can respond to a tap, your voice, and even a glance. With iPhone X,
          that vision is now a reality. Say hello to the future.</p>
        <button class="btn btn-primary" [raveOptions]="paymentOptions" (close)="paymentCancel()"
          (callback)="paymentDone($event)" angular-rave>Get it for &#x20a6;510,000 only</button>
      </div>
    </div>
  </div>
</div>